	@font-face {
  			font-family: "16bfZX";
  			src: url(../Fonts/16bfZX.ttf) format('truetype');
			}

			body{
				background-color: #1c1e22;
				margin:0;
  				padding:0;
  				image-rendering: pixelated;
			}


			div.banner {
				background-color: #fff; 
				height: 250px; 
				position: relative;
				margin:0;
  				padding:0;
			}

			div.nobanner {
				background-color: #fff; 
				height: 0px; 
				position: relative;
				margin:0;
  				padding:0;
  				z-index: 1;
			}

			img.bannerlogo {
				height: 250px; 
				position: absolute;
				left:50%;
  				margin-left: -125px;		
  			}

  			img.backimage {
				height: 44px; 
				position: absolute;
				content:url("../Images/back.png");
  			}

  			img.backimage:hover {
				content:url("../Images/back_hover.png");
  			}


  			img.gameimage {
				position: absolute;
				left:32px;
				top:32px;
  			}

  			img.loadingimage {
				position: absolute;
				height: 100%; 
				width: 100%;
				
				image-rendering: pixelated;
				
  			}

  			img.kittylogo {
  				top:70px;
				height: 125px; 
				position: absolute;
				left:50%;
  				margin-left: -205px;	
  				image-rendering: auto;
  			}


			div.topbar {
				background-color: #25aae1; 
				height: 30px; 
				width: 100%;
				position: absolute;
			    top: 250px;
			    display: block;

			}
			div.smalltopbar {
				background-color: #25aae1; 
				height: 45px; 
				width: 100%;
				position: fixed;
			    top: 0px;
			    display: block;

			}

			div.footer {
				position: fixed;
				background-color: #25aae1; 
				height: 30px; 
				width: 100%;
			    bottom:0%;

			}

			div.content {
				background-color: transparent; 
				position: relative;
				height: 100px; 
				width: 100%;
				top:62px;
			    
			}

			div.outercontent {
				background-color: transparent; 
				position: relative;
				height: 917px; 
				width: 100%;
				top:62px;
				overflow: hidden;

			}

			div.aboutoutercontent {
				background-color: transparent; 
				position: relative;
				height: 900px; 
				width: 100%;
				top:62px;
				overflow: hidden;
			    
			}

			div.contentcontainer {
				background-color: #2b3037; 
				height:276px; 
				width: 100%;

				top:30px;
			    
			}

			div.aboutcontentcontainer {
				background-color: #2b3037; 
				height:479px; 
				width: 100%;

				top:15px;
				position: absolute;
			    
			}

			div.membercontentcontainer {
				background-color: #2b3037; 
				height:212px; 
				width: 100%;

				top:526px;
				position: absolute;
			    
			}

			div.gamecontentcontainer {
				background-color: #2b3037; 
				height:644px; 
				width: 644px;
				top:15px;
				left:50%;
  				margin-left: -322px;
  				position: absolute;
			    
			}

			div.gameabout {
				background-color: #2b3037; 
				height:164px; 
				width: 644px;

				top:695px;

				left:50%;
  				margin-left: -322px;
  				position: absolute;
			    
			}


			div.gameplayer {
				background-color: #000; 
				height:544px; 
				width: 544px;
				top:50px;
				left:50%;
  				margin-left: -275px;
  				position: absolute;
			    
			}


			a, p{
				color:#fff;
				font-family: "16bfZX";
				-webkit-font-smoothing : none;
				font-size:32px;
				text-decoration: none;
			}

			a.kittyname{
				color: #ac72ce;
				margin-top: 36px;
				position: absolute;
				top:42px;
				left:220px;
				text-align: center;
			}

			a.kittylink{
				position: absolute;
				top:42px;
				margin-top: 106px;
				text-align: center;

			}

			a.kittylink.kittylink1{
				color: #25aae1;
				left:170px;
			}
			a.kittylink.kittylink2{
				color: #ff7a01;
				left:350px;
			}
			a.kittylink.kittylink3{
				color: #a742d2;
				left:263px;
			}

			a.kittylink:hover{
				color: #fff;
			}







			a.footertext {
				position: absolute;
				top:2px;
				left:5px;
				color:#fff;
				
			}

			img.aboutlogo {
				margin-top: 32px;
				margin-left: 180px;
				width:148px;
				height:188px;
				position: absolute;
			}

			p.abouttext {
				margin-top: 252px;
				position: absolute;
				top:100;
				text-align: center;

			}

			a.aboutcentertext{
				top:13px;
				left:50%;
  				margin-left: -135px;
				text-align: center;
				position: absolute;
			}

			div.aboutcenterer{
				width:500px;
				left:50%;
  				margin-left: -250px;
  				position: absolute;
  			}

  			hr.aboutline{
  				top:48px;
				left:50%;
				margin-left: -200px;
				width: 400px;
  				position: absolute;
  			}

			a.tab {
				color:#fff;
				padding: 16px;
			}

			a.tab:hover {
				color:#1e5d76;
			}
			
			li {
  				float: left;
  				position: relative;
			}

			ul {
				list-style-type: none;
				min-width: 100%;
			}

			div.topbarcontainer {
  				height:30px;
  				top:-14px;
  				left:50%;
  				margin-left: -293px;
  				position: absolute;
			}

			div.smalltopbarcontainer {
  				height:30px;
  				top:-8px;
  				left:50%;
  				margin-left: -293px;
  				position: absolute;
			}
